---
import favIcon from '../../images/favicon-16.png';
import { BASE_PATH_WITHOUT_DOMAIN } from '../../base-path.mjs';
import { teamPlayerService } from '../services/team-players.service';
import { bundesligaTableService } from '../services/bundesliga-table.service';
import { BundesligaTableEntry, BundesligaTable } from '../models/bundesliga-table';
import { PlayerListItem } from '../models/player-list-item';
const bundesligaTable: BundesligaTable = await bundesligaTableService.getData();
const teamIds: string[] = bundesligaTable.teams.map((team: BundesligaTableEntry) => team.teamId);
teamIds.push('INACTIVE_PLAYERS');

const deepPlayerData: PlayerListItem[][] = await Promise.all(
  teamIds.map((teamId: string) => teamPlayerService.getData(teamId))
);

const playerData = deepPlayerData.flat();
const playersGroupedByTeam = {};
playerData.forEach(player => {
  if (player.teamName in playersGroupedByTeam) {
    playersGroupedByTeam[player.teamName].push(player);
  } else {
    playersGroupedByTeam[player.teamName] = [player];
  }
});

let sitecontent: string = '';
Object.entries(playersGroupedByTeam).forEach(([team, players]) => {
  let playersString = '';
  players.forEach(
    player =>
      (playersString += `<li><a href="${BASE_PATH_WITHOUT_DOMAIN}/player/${encodeURIComponent(
        player.playerName
      )}/${encodeURIComponent(player.playerId)}">${player.playerName}</a></li>`)
  );
  sitecontent += `
        <h2>${team}</h2>
        <ul>
        ${playersString}
        </ul>
    `;
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href={favIcon} />
    <title>Startseite better-kickbase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="better-kickbase-web Startseite" />
  </head>
  <body>
    <h1>better-kickbase</h1>
    <p>Schau dir die Profile dieser Spieler an:</p>

    <Fragment set:html={sitecontent} />
  </body>
</html>
