---
import { BASE_PATH_WITHOUT_DOMAIN } from '../../../../base-path.mjs';
import { playerDataService, PlayerData } from '../../../services/playerdata/playerdata.service';
import { teamPlayerService } from '../../../services/team-players.service';
import { bundesligaTableService } from '../../../services/bundesliga-table.service';
import { BundesligaTableEntry, BundesligaTable } from '../../../models/bundesliga-table';
import { PlayerListItem } from '../../../models/player-list-item';
import favIcon from '../../../../images/favicon-16.png';
import '../../../styles/page.css';
import { PlayerPage } from '../../../components/player.page';

const { params } = Astro;
const serverJsonData: PlayerData = await playerDataService.getData(String(params.playerId));

export async function getStaticPaths() {
  const bundesligaTable: BundesligaTable = await bundesligaTableService.getData();
  const teamIds: string[] = bundesligaTable.teams.map((team: BundesligaTableEntry) => team.teamId);
  const deepPlayerData: { params: any; metadata: PlayerListItem }[][] = await Promise.all(
    teamIds.map(async (teamId: string) => {
      const result = await teamPlayerService.getData(teamId);
      return result.map(player => {
        return {
          params: {
            playerName: `${player.playerName}`,
            playerId: String(player.playerId)
          },
          metadata: {
            ...player
          }
        };
      });
    })
  );
  return deepPlayerData.flat();
}

const playerName: string = String(serverJsonData?.playerInfo?.knownName ?? params.playerName);
const props = {
  'player-name': playerName,
  'player-id': params.playerId,
  'team-id': serverJsonData.playerInfo.teamId,
  'server-json-data': JSON.stringify(serverJsonData)
};
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel='preload' as='image' href={serverJsonData.playerInfo.profileBig} />
    <link rel='preload' as='font' href={`${BASE_PATH_WITHOUT_DOMAIN}/fonts/roboto-condensed-v24-latin-700.woff2`} />
    <link rel='preload' as='font' href={`${BASE_PATH_WITHOUT_DOMAIN}/fonts/roboto-condensed-v24-latin-regular.woff2`} />
    <link rel='icon' type='image/x-icon' href={favIcon} />
    <title>{playerName} - kickbase-information</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content={`Spielerprofil von ${playerName} - kickbase-information`} />
  </head>
  <body style='padding:0 !important;'>
    <PlayerPage {...props} client:idle />
  </body>
</html>
